* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --forest-green: #379634;
  --anti-flash-white: #cdcece;
  --celeste: #e6e6e6;
  --columbia-blue: #c7d3dd;
  --black: #000;
  --dark-gray: #2d3033;
  --light-gray: #4d5157;
  --ash-gray: #303330;
  --white: #fff;

  --background-primary: #2f3e46;
  --color-primary: #cad2c5;
  --background-secondary: #52796f;
}

body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  font-size: 1.2rem;
}

#root {
  width: 80vw;
  height: 100vh;
  margin: auto;
  padding-top: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  border: 3px solid var(--background-secondary);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--black) 0px 10px 10px 0px;
}

h1 {
  color: var(--background-secondary);
  padding-bottom: 0.25rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container > input {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  outline: none;

  padding: 0.1rem;
  margin: 0.3rem;
  font-size: 1.2rem;
  background-color: var(--background-primary);
}

.submit-button {
  font-size: 1.2rem;
  width: 50%;
  margin: 1rem auto 0.25rem auto;
  padding: 0.5rem;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background: var(--background-secondary);
}

@media (max-width: 1300px) {
  #root {
    width: 80vw;
  }

  header {
    width: 50vw;
  }

  .input-container {
    width: 85%;
    font-size: 0.9rem;
  }

  .input-container > input {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  #root {
    width: 100vw;
  }

  header {
    width: 90vw;
  }

  .input-container {
    width: 90%;
    font-size: 0.9rem;
  }

  .input-container > input {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1rem;
  }

  #root {
    width: 100vw;
  }

  header {
    width: 85vw;
    padding: 0.2rem;
  }

  .input-container {
    width: 100%;
    font-size: 0.9rem;
  }

  .input-container > input {
    font-size: 0.9rem;
  }
}
